* {
    box-sizing: border-box;
}
@font-face {
    font-family: Leiko;
    src: url(Leiko.otf);
}
@font-face {
    font-family: DancingScript;
    src: url(DancingScript.ttf);
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 1081px;
    background-color: #221518;
    display: flex;
}

.left-part-header {
    width: 55%;
    padding-left: 20px;
    padding-top: 5px;
    position: relative;
}

.nav-left-header {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.logo{
    width: 72px;
    height: 72px;
    margin-top: 10px;
}

.fa-address-book, .fa-shopping-cart {
    height: 15px;
    width: 15px;
    color: #F8E4BE;
    padding: 40px 15px;
}

.left-header-sec {
    padding-left: 80px;
}

.coffee-name {
    font-family: DancingScript;
    font-weight: 700;
    font-size: 112px;
    text-transform: capitalize;
    color: #221518;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #F7E1BC;
}

.motto {
    font-family: Leiko;
    font-weight: 400;
    font-size: 24px;
    color: #DABB9E;
}

.shop-now-header {
    background-color: rgba(247, 225, 188, 0.3);
    border-radius: 49px;
    padding: 12px 36px;
    border: 2px solid #F8E4BE;
    margin-top: 50px;
    margin-right: 40px;
}

.catalog-header {
    background-color: rgba(247, 225, 188, 0.1);
    border-radius: 49px;
    padding: 12px 36px;
    border: 2px solid #F8E4BE;
    margin-top: 50px;
}

.shop-now-header a, .catalog-header a {
    font-family: Leiko;
    text-decoration: none;
    color: #F8E4BE;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
}

.box-mug {
    width: 366px;
    height: 247px;
    background: #54372B;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    margin-left: 40px;
    position: absolute;
    z-index: 2;
    bottom: -13px;
}

.right-part-boxmug {
    position: absolute;
    right: 20px;
    top: 90px;
}

.motto-for-mug {
    font-family: DancingScript;
    font-weight: 500;
    font-size: 28px;
    text-transform: capitalize;
    color: #F7E1BC;
}

.button-for-mug {
    width: 103.64px;
    height: 31.64px;
    border-radius: 49px;
    background-color: transparent;
    border: 0.9px solid #F8E4BE;
    float: right;
}

.a-for-mug {
    font-family: Leiko;
    font-weight: 400;
    font-size: 12.625px;
    text-transform: capitalize;
    color: #F8E4BE;
    text-decoration: none;
}

.fa-bicycle {
    width: 21.64px;
    height: 21.64px;
    color: #F8E4BE;
}

.right-part-header {
    width: 45%;
    background-color: #7C573C;
    z-index: 1;
}

.nav-right-header {
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-around;
}

.a-in-nav-header {
    font-family: Leiko;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFF8E8;
    padding: 40px 20px 20px 20px;
}

.a-in-nav-header:hover {
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(93.99deg, 
    rgba(223, 195, 157, 0.4) -9.94%, 
    rgba(248, 228, 190, 0.4) 19.83%, 
    rgba(223, 195, 157, 0.4) 50.71%, 
    rgba(248, 228, 190, 0.4) 81.26%, 
    rgba(248, 228, 190, 0.4) 111.66%);
}

.machine-img {
    position: absolute;
    right: 0;
}

.beans-img {
    position: absolute;
    right: 2%;
    top: 12%;
}

.story-section {
    background-color: #221518;
    width: 100%;
    height: 584px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.story-div {
    width: 1175px;
    height: 378px;
    background: rgba(173, 113, 74, 0.35);
    border-radius: 35px;
    margin-top: 65px;
}

.bean-1 {
    position: absolute;
    top: 40%;
    left: 9.5%;
}

.bean-2 {
    position: absolute;
    top: 31%;
    left: 36%;
}

.bean-3 {
    position: absolute;
    top: 67%;
    left: 34%;
}

.girl-img {
    position: absolute;
    top: 30px;
    left: 60px;
}

.h-in-story-section1 {
    font-family: DancingScript;
    font-weight: 700;
    font-size: 54px;
    text-transform: capitalize;
    color: #F8E4BE;
    right: 13%;
    top: 1%;
    position: absolute;
}
.text-div-in-section1 {
    width: 592px;
    height: 241px;
    line-height: 218.5%;
    font-family: Leiko;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    right: 13%;
    top: 23%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-cont {
    font-family: Leiko;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    right: 13%;
    bottom: 22%;
}

.dots-div {
    display: flex;
}

.dot-1, .dot-2, .dot-3 {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 5px;    
}

.dot-1 {
    background: #D7B0A0;
}

.dot-2, .dot-3 {
    background: #744F40;
}

.service-section {
    background-color: #221518;
    width: 100%;
    height: 584px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h-in-service-section {
    text-align: center;
    font-family: DancingScript;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #F8E4BE;
    margin: 0;
}

.service-div {
    display: flex;
    justify-content: space-around;
}

.service {
    Width: 170px;
    Height: 225px;
    border-radius: 35px;
    background: #54372A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service a {
    text-decoration: none;
}

.service-img {
    width: 107px;
    height: 107px;
}

.service-name {
    font-family: Leiko;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #F8E4BE;
}

.offer-section {
    background-color: #221518;
    width: 100%;
    height: 584px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.offer-div {
    width: 1175px;
    height: 378px;
    background: rgba(173, 113, 74, 0.35);
    border-radius: 35px;
    margin-top: 65px;
    position: relative;
}

.packs-img {
    position: absolute;
    align-items: center;
    right: 0;
}

.right-div-in-offer {
    position: absolute;
    width: 60%;
    top: -42px;
    left: 60px;
}

.h1-in-offer-section {
    font-family: DancingScript;
    font-weight: 700;
    font-size: 56px;
    text-transform: capitalize;
    color: #F8E4BE;
    margin: 0;
    padding-bottom: 20px;
}

.h3-in-offer-section {
    font-family: Leiko;
    font-weight: 400;
    font-size: 32px;
    text-transform: capitalize;
    color: #F8E4BE;
    margin: 0;
}

.text-div-in-section-offer {
    height: 130px;
    width: 619px;
    font-family: Leiko;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 218.5%;
    margin-bottom: 45px;
}

.button-in-offer {
    width: 187px;
    height: 55px;
    border-radius: 49px;
    background: rgba(247, 225, 188, 0.3);
    border: 2px solid #F8E4BE;
}

.text-in-offer {
    font-family: Leiko;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    text-decoration-line: underline;
    text-decoration: none;
    text-transform: capitalize;
    color: #F8E4BE;
}

.reservation-section {
    height: 640px;
    width: 100%;
    background-color: #221518;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.h1-in-reservation-section {
    font-family: DancingScript;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 64px;
    color: #F7E1BC;
    margin: 0;
    position: absolute;
    top: -40px;
}

.reservation-div {
    height: 581px;
    width: 100%;
    background-color: rgba(173, 113, 74, 0.35);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lovebirds-img {
    width: 429.2px;
    height: 472.35px;
    margin-left: 40px;
}

.left-div-in-reservation {
    display: flex;
    flex-direction: row;
    float: right;
}

.reservation-form {
    width: 540px;
    height: 410px;
}

.input-side-by-side {
    width: 580px;
    display: flex;
    justify-content: space-between;

}

.reservation-form input, select {
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    font-family: Leiko;
    font-weight: 400;
    font-size: 21px;
    color: #9D8781;
    margin: 20px;
}

.inputs-in-reservation-1, 
.inputs-in-reservation-4, 
.inputs-in-reservation-5 {
    width: 540px;
    height: 54px;
    outline: none;
}

.inputs-in-reservation-2, .inputs-in-reservation-3 {
    width: 251.5px;
    height: 55px;
    float: left;
}

.inputs-in-reservation-6 {
    width: 322px;
    height: 55px;
}

.inputs-in-reservation-1::placeholder, 
.inputs-in-reservation-2::placeholder, 
.inputs-in-reservation-3::placeholder, 
.inputs-in-reservation-4::placeholder, 
.inputs-in-reservation-5::placeholder, 
.inputs-in-reservation-6::placeholder {
    padding-left: 10px;
}


.button-in-reservation {
    width: 198px;
    height: 55px;
    background: rgba(247, 225, 188, 0.1);
    border-radius: 49px;
    border: 2px solid #F8E4BE;
    margin: 20px;
}

.reserve-button {
    font-family: Leiko;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: #F8E4BE;
}

.recommended-section {
    width: 100%;
    height: 653px;
    background-color: #221518;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h-in-recommended-section {
    margin: 0;
    font-family: DancingScript;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #F8E4BE;
    text-align: center;
}

.recommended-div {
    display: flex;
    justify-content: space-around;
}

.pack {
    width: 367px;
    height: 398.21px;
    background-color:#54372A;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pack-1 {
    height: 329.21px;
    background-color:#54372A;
    border-radius: 35px;
}

.info-img {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.pack-img {
    width: 360.86px;
    height: 329.21px;
    position: absolute;
    top: 0;
    right: 0;
}

.coffeecart-img {
    padding: 15px;
    position: absolute;
    bottom: 69px;
    right: 0;
}

.pack-2 {
    width: 367px;
    height: 69px;
    border-radius: 0 0 35px 35px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.coffeecart-img {
    padding: 15px;
}

.pack-name {
    font-family: Leiko;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.pack-type {
    font-family: Leiko;
    font-weight: 100;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.arrow-div {
    display: flex;
    justify-content: center;
}

.arrow-in-a {
    margin: 10px;
}

.popular-menu-section {
    height: 1050px;
    width: 100%;
    background-color: #221518;
}

.pop-menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pop-menu-header {
    margin: 0;
    font-family: DancingScript;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #F8E4BE;
}

.coffee-price {
    font-family: DancingScript;
    font-weight: 600;
    font-size: 48px;
    text-transform: capitalize;
    color: #F8E4BE;
    margin: 0;
}

.line-img {
    margin: 0;
}

.left1 {
    position: absolute;
    top: 300px;
    left: 130px;
}

.left2 {
    position: absolute;
    top: 480px;
    left: 20px;
}

.left3 {
    position: absolute;
    top: 660px;
    left: 80px;
}

.left4 {
    position: absolute;
    top: 840px;
    left: 120px;
}

.right1 {
    position: absolute;
    top: 300px;
    right: 130px;
}

.right2 {
    position: absolute;
    top: 480px;
    right: 20px;
}

.right3 {
    position: absolute;
    top: 660px;
    right: 80px;
}

.right4 {
    position: absolute;
    top: 840px;
    right: 120px;
}

.menu-div {
    float: right;
    margin-right: 7%;
    margin-top: 30px;
}

.menu-a {
    text-decoration: none;
    font-family: Leiko;
    font-weight: 400;
    font-size: 36px;
    text-transform: capitalize;
    color: #F8E4BE;
} 

.fa-arrow-circle-o-right {
    color: #F8E4BE;
}

.our-blog-section {
    height: 618px;
    width: 100%;
    background-color: #53362A;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.blog-header {
    margin: 0;
    font-family: DancingScript;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #F8E4BE;
    text-align: center;
    position: absolute;
    top: -7%;
}

.our-blog-div {
    height: 562px;
    width: 100%;
    background-image: url(Bg_Of_blog.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 9%;
    z-index: 1;
    overflow: hidden;
}

.blog-div1 {
    width: 534px;
    height: 378px;
    background-color: #997D6C;
    border-radius: 35px;
    z-index: 2;
    margin-left: 35px;
    padding-left: 50px;
    position: relative;
}

.blog-div2 {
    width: 534px;
    height: 378px;
    background-color: #997D6C;
    border-radius: 35px;
    z-index: 2;
    padding-left: 50px;
    position: relative;
}

.blog-div3 {
    width: 262px;
    height: 378px;
    background-color: #997D6C;
    border-radius: 35px 0 0 35px;
    z-index: 2;
    padding-left: 50px;
    position: relative;
}

.miniblog-header {
    font-family: Leiko;
    font-weight: 400;
    font-size: 24px;
    line-height: 218.5%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.blogtext-div {
    height: 130px;
    width: 434px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Leiko;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-transform: capitalize;
    color: #F7E5DA;
}

.img-in-blog-cups {
    margin-top: 44px;
}

.img-in-blog {
    margin-top: 30px;
}

.a-in-blog {
    font-family: Leiko;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    right: 11%;
    bottom: 8%;
}

.customer-review-section {
    height: 657px;
    width: 100%;
    background-color: #221518;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.customer-text {
    margin: 0;
    font-family: DancingScript;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #F8E4BE;
    text-align: center;
    position: absolute;
    top: 10%;
    z-index: 2;
}

.mark-img {
    position: absolute;
    top: 33.5%;
    right: 40%;
    z-index: 2;
}

.customer-div {
    height: 480px;
    width: 1191px;
    background-image: url(customer.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 38.98px;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 9%;
    z-index: 1;
}

.review-small {
    width: 60px;
    height: 150px;
    background-color: rgba(248, 228, 190, 0.2);
    border-radius: 15px 0px 0px 0px;
    margin: 0;
}

.review-small-1 {
    width: 60px;
    height: 150px;
    background-color: rgba(248, 228, 190, 0.2);
    border-radius: 0px 15px 0px 0px;
    margin-right: 20px;
    margin-left: 0;
}

.review {
    width: 341.72px;
    height: 150px;
    background-color: rgba(248, 228, 190, 0.2);
    border-radius: 15px 15px 0px 0px;
    margin-right: 20px;
}

.review-high {
    width: 342px;
    height: 362px;
    background-color: rgba(102, 55, 29, 0.75);
    border-radius: 15px 15px 0px 0px;
    margin-right: 20px;
}

.review-images {
    border-radius: 60px;
}

.review, .review-high {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.reviewers-name {
    font-family: Leiko;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #F0E3D0;
}

.reviewers-review {
    font-family: Leiko;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #F0E3D0;
    letter-spacing: 0.035em;
}

.arrow-img-customer-l {
    position: absolute;
    top: 52%;
    left: 10%;
    z-index: 2;
}

.arrow-img-customer-r {
    position: absolute;
    top: 52%;
    right: 10%;
    z-index: 2;
}

.subscribtion-section {
    width: 100%;
    height: 357px;
    background-color: #54372B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.subscribtion-text {
    font-family: Leiko;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #F8E4BE;
}

.subscribtion-input {
    width: 540px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
}

.subscribtion-input::placeholder {
    font-family: Leiko;
    font-weight: 400;
    font-size: 21px;
    color: #9D8781;
    text-transform: capitalize;
    text-align: start;
}

.subscribe-button {
    width: 183px;
    height: 55px;
    background-color: rgba(247, 225, 188, 0.3);
    border: 2px solid #F8E4BE;
    border-radius: 49px;
    font-family: Leiko;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: #F8E4BE;
}

footer {
    background-color: #221518;
    height: 530px;
    margin: 0;
    position: relative;
}

.social-media {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 55px;
    padding-right: 20px;
}

.social-media-text {
    font-family: Leiko;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFF3E0;
    margin-right: 10px;
}

.social-media-icons {
    margin-right: 10px;
}

.whole-footer {
    position: absolute;
    bottom: 0;
    height: 437px;
    width: 100%;
    background-image: url(Footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.footer-div {
    display: flex;
}

.grinder-img {
    position: absolute;
    top: -54px;
    left: 40px;
}

.list-div {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0;
}

.li-long {
    font-family: Leiko;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFF3E0;
    margin: 30px;
    list-style: none;
}

.li-short {
    font-family: Leiko;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFF3E0;
    margin: 30px;
    list-style: none;
}

.forth-col-list {
    line-height: 20px;
}

.ul-div {
    display: flex;
    align-items: center;
}

.fa-map-pin, .fa-envelope-o, .fa-mobile {
    color: #FFF3E0;
}

.copyright-div {
    position: absolute;
    bottom: 0;
}

.copyright {
    font-family: Leiko;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(255, 243, 224, 0.65);
    text-align: center;
}
